.main-blog {
  margin-top:2em;
}

.main-blog li {
  list-style-type: none;
  margin-top: 2em;
}

h5 {
color:#878E63;
font-size: 20px;
margin-left: 3em;
}
h4{
  color:#878E63;
  text-align: left;
}

.main-blog {
  font-size: 16px;
}
.date{
  display: table-row-group;
  font-size: 16px;
  text-indent: 4em;
  font-family: Garamond,serif;
}

li h3 a{
  float:left;
  text-decoration: none;
  text-indent:3em;
  color:#878E63;
  font-family: Garamond,serif;
}
li h3 a:hover{
  color:#006633;
  text-decoration: underline;
  font-weight: bold;


}