.main-blog {
  margin-top:2em;
}

.main-blog li {
  list-style-type: none;
  margin-top: 2em;
}

h5 {
  color:#878E63;
  font-size: 18px;
  margin-left: 3em;
}
h4{
  text-align: left;
  color:#878E63;
  margin-left: 2em;
  padding:1%;
}

.main-blog {
  font-size: 16px;
}
.order{
 color:#878E63;
  width:85%;
  margin-left: 5em;
  line-height: 2em;
}
.date{
  display: table-row-group;
  font-size: 14px;
  text-indent: 4em;
  font-family: Garamond,serif;
}
.text xmp{
  color:#006633;
  margin-left:0.5em;
  letter-spacing:2px;
  line-height:1.5em;
}
.text code{
  color:#006633;
}
.text img{
  margin-left:30%;
  color:#006633;
}

li h3 a{
  float:left;
  text-decoration: none;
  text-indent:3em;
  color:#878E63;
  font-family: Garamond,serif;
}
li h3 a:hover{
  color:#006633;
  text-decoration: underline;
  font-weight: bold;


}