body{
  background:#F1F0D1;
  font-family: Verdana,Arial,sans-serif;
  font-size: 18px;
  overflow: auto;
}
.clear{
  clear:both;
}
h1,h2,h3{
  text-align: center;
  color:#878E63;
}
#site{
  width: 100%;
  height:auto;
  background:#878E63;
  overflow: hidden;
}
#site p{
  text-align: right;
  font-size: 13px;
  padding:0.1% 5% 0 0;
  color:#F1F0D1;
}
#site p a{
  text-decoration:none;
  color:#F1F0D1;
}

header{
  width:96%;
  min-height:5em;
  padding:1%;
  text-align:center;
}
nav ul {
  list-style: none;
  margin:0;
  padding-left:3em;
}
nav ul li{
  float:left;
  border:1px solid #878E63;
  width:20%;
}
nav ul li a{
  background: #F1F0D1;
  display:block;
  padding: 5% 12%;
  font-weight: bold;
  font-size: 18px;
  color: #878E63;
  text-decoration: none;
  text-align: center;
}
nav ul li a:hover, nav ul li.active a{
  background-color: #878E63;
  color:#F1F0D1;
}
.text{
  width 90%
  float:left;
  margin: 5% 1% 1% 1%;
}

p{
  color:#878E63;
/*  text-indent: 2em;*/
  width:85%;
  margin-left: 3em;
  line-height: 2em;
}
img{
  text-align: center;
  max-width: 100%;
  height:auto;
  width:auto;
}
#wrapper{
  margin:0 auto;
  max-width: 100%;
  width: 98%;
  background: #FEFBE8;
  border: 1px solid #878E63;
  border-radius: 2px;
  box-shadow: 0 0 10px 0px rgba(12,3,25,0.8);
}
.footer{
  background: #878E63;
  width: 100%;
  overflow:hidden;
  padding-top: -15em;
  margin-top:2em;
}
.footer p{
  display: block;
  color:#F1F0D1;
  text-align: center
}
.footer ul{
  list-style: none;
}
.footer ul li{
  display: inline;
}
.footer ul li a{
  text-decoration: none;
}
.social-media{
  display:inline;
  width:10%;
  height:10%;
  margin-left:37%;
}
.copyright {
  text-align:center;
  padding:0px;
}

/*-------------------MEDIA QUERIES---------------*/
@media screen and (max-width: 478px){
  body{
    font-size: 13px;
  }
}
@media screen and (max-width: 740px){
  nav{
    width: 100%;
    margin-bottom: 10px;
  }
  nav ul{
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
  }
  nav ul li{
    text-align: center;
    margin-left: 0 auto;
    width: 100%;
    border-top: 1px solid #878E63;
    border-right: 0px solid #878E63;
    border-bottom: 1px solid #878E63;
    border-left: 0px solid #878E63;
  }
   nav ul li{
    padding: 8px 0;
    font-size: 16px;
   }
   section{
    float: left;
    width: 100%;
    margin:0;

   }
}